<footer id="footer">
  <div class="buttons d-flex flex-row justify-content-evenly">
    <div>
      <a href="https://github.com/Tobie33"><button type="button" class="btn btn-dark py-4 px-5">Github</button></a>
    </div>
    <div>
    <a href="/"><button type="button" class="btn btn-dark py-4 px-5">Main Page</button></a>
    </div>
  </div>
</footer>
