<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<%- contentFor('body') %>
<div class=" d-flex align-items-center text-center p-4" id="main-page">
  <div class="p-5 " id="header">
    <h1 class=" mb-5">Chalant - a place where you can find the best talent worldwide.</h1>
    <p>Chalant is a freelance platform where you could recruit people next to your block or worldwide, to do jobs for you. From data entry to high-end manager, we have it all.</p>
    <p class="p-3">And if you are looking to be hired, we also offer a platform for freelancers like yourself to blossom your career. Just simply sign in as our user, and when you are ready to work, fill out all the necessary information, and you will start receiving jobs. </p>
    <p>The project is still in development, there will be more functions yet to come.</p>
    <p>Click here to find out more!</p>
    <a href="/auth/login"><button type="button" class="btn btn-primary px-4 py-3">Login</button></a>
</div>
