<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
const selectedUserID = window.location.pathname.split('/').reverse()[0]
window.pageData = {
  selectedUser:{},
  loggedInUser:{},
  messageSent: false
}
const generateUserCard = () => {
  const {id, name, age, experience, price, description, roles = []} = window.pageData.selectedUser
  const {roleName} = roles[0]
  return `
    <div class="card" id="user-card">
      <h5 class="card-header">${name}</h5>
      <div class="card-body">
        <h5 class="card-title">${roleName}</h5>
        <p class="card-text">
        <ul>
          <li>
            Age : ${age}
          </li>
          <li>
            Experience: ${experience} Years
          </li>
          <li>
            Price: $ ${price}
          </li>
          <p>
            Short Intro:
            ${description}
          </p>
        </ul>
        </p>
      </div>
    </div>
    </br>
  `
}

const generateContactInfo = () => {
  const {id, email} = window.pageData.loggedInUser
  const {messageSent} = window.pageData
  return `
    <form id="message-form">
      <div class="mb-3">
        <label for="sender-email" class="form-label">Your Email address: </label>
        <input type="email" class="form-control" id="sender-email" placeholder="Your Email address" value="${email}" required>
      </div>
      <div class="mb-3">
        <label for="sender-email" class="form-label">Your Email address: </label>
        <input type="email" class="form-control" id="sender-email" placeholder="Your Email address" value="${email}" required>
      </div>
      <div class="mb-3">
        <label for="sender-email" class="form-label">Your Phone Number: </label>
        <input type="tel" class="form-control" id="sender-phone-number" placeholder="Your Phone Number">
      </div>
      <div class="mb-3">
        <label for="sender-message" class="form-label">Your Message:</label>
        <textarea class="form-control" id="sender-message" rows="5" placeholder="Your message: " required></textarea>
      </div>
      <div>
        <button id="submit-button" class="btn btn-primary" type="submit" data-bs-toggle="modal" data-bs-target="#message-sent-modal" >Submit</button>
      </div>
      <div class="modal fade" id="message-sent-modal" tabindex="-1" aria-labelledby="message-sent" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="message-sent">Message Sent!</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Your message has been sent!</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
      </form>
  `
}


const generatePage = () => {
  const $page = $('#user-contact-page')
  const $userCard = generateUserCard()
  const $contactCard = generateContactInfo()

  $page.html('').append($userCard).append($contactCard)
}

const getSelectedUser = () => {
  axios({
    method: 'GET',
    url:`/api/users/${selectedUserID}`
  }).then((res) => {
    window.pageData.selectedUser = res.data
    getLoggedInUser()
  })
}

const getLoggedInUser = () => {
  axios({
    method: 'GET',
    url:`/api/my/profile`
  }).then((res)=> {
    window.pageData.loggedInUser = res.data
    generatePage()
  })
}

const handleSubmitMessage = (e) => {
  e.preventDefault()

  let {messageSent} = window.pageData
  messageSent = false
  const {id} = window.pageData.loggedInUser
  const loggedInUserID = id
  let data = {
    senderID:loggedInUserID,
    message:$('#sender-message').val(),
    receiverID:selectedUserID
  }
  console.log(data)

  axios({
    method:'POST',
    url:'/api/my/conversations',
    data
  }).then((res)=>{
    messageSent = true
    generatePage()
  })

}

// Functions that will be invoked on page load
$(document).ready(() => {
  getSelectedUser()
  $('#user-contact-page').on('submit','#message-form',handleSubmitMessage)
})
</script>

<%- contentFor('body') %>
<div id="user-contact-page" class="container"></div>
