<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
window.pageData = {
  user:{},
  categories:{},
  category: '',
  role: '',
  errors:{},
  messageSent: false
}

const handleCategoryChange = () => {
  window.pageData.category = $( ".category-option:selected" ).length > 0 ? $( "#category" ).val() : null
  const newRoles = generateRoleOptions()
  $('.role-empty-option').siblings().remove()
  $('.role-empty-option').after(newRoles)
}

const handleRoleChange = () => {
  window.pageData.role = $( ".role-option:selected" ).length > 0 ? $( "#roles" ).val() : null
  console.log(window.pageData.role)
}

const generateRoleOptions = () => {
  const { categories, category, role } = window.pageData
  const matchedCategory = categories.find((cat) => cat.categoryName === category)
  return matchedCategory?.roles?.map(r => {
    return `
      <option class="role-option" value="${r.roleName}" ${role === r.roleName ? 'selected' : ''}>${r.roleName}</option>
    `
  })?.join("")
}

const generateCategoriesOption = () => {
  const { categories, category } = window.pageData
  return categories.map(cat => {
    return `
      <option class="category-option" value="${cat.categoryName}" ${category === cat.categoryName ? 'selected' : ''}>${cat.categoryName}</option>
    `
  }).join("")
}

const generateUserProfilePage = () => {
  const {user, rolesOption, category, errors, messageSent} = window.pageData
  let rolesList = ""
  console.log(errors)
  const categoriesList = generateCategoriesOption()
  if(category){
    rolesList = generateRoleOptions()
  }
  return `
    <form id="user-info">
      <div class="card card-body mb-3">
        <div class="mb-3">
          <label for="user-name" class="form-label">Your name: </label>
          <input type="text" class="form-control" name="name" id="user-name" value="${user?.name || ''}">
        </div>
        <div class="mb-3">
          <label for="user-email" class="form-label">Your Email: </label>
          <input type="email" class="form-control ${errors?.email && 'is-invalid'}" id="user-email" value="${user?.email || ''}" required>
        </div>
          <button class="btn btn-primary mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#hire-information"   aria-expanded="false" aria-controls="hire-information">
          Looking for jobs?
        </button>
        <div class="collapse ${user?.lookingForWork && 'show'}" id="hire-information">
          <div class="card card-body">
            <div class="mb-3">
              <label for="categories" class="form-label">Category: </label>
              <div class="input-group">
                <select id="category" class="form-select ${errors?.cv?.categories && 'is-invalid'}" name="categories" value="${user?.categories?.[0]?.categoryName || ''}">
                  <option value="">Select a Category</option>
                  ${categoriesList}
                </select>
                <div class="invalid-feedback">${errors?.cv?.categories ? 'Please Select a Category' : ''}</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="roles" class="form-label">Role: </label>
              <div class="input-group">
                <select id="roles" class="form-select ${errors?.cv?.roles && 'is-invalid'}" name="roles" value="${user?.roles?.[0]?.roleName || ''}">
                  <option class="role-empty-option" value="">Select a Role</option>
                  ${category? rolesList : ''}
                </select>
                <div class="invalid-feedback">${errors?.cv?.roles ? 'Please Select a Role' : ''}</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="user-age" class="form-label">Age: </label>
              <input type="number" class="form-control ${errors?.cv?.age && 'is-invalid'}" id="user-age" name="age" value="${errors?.cv?.age ? '' : user?.age || ''}">
              <div class="invalid-feedback">${errors?.cv?.age ? 'Please Select a Valid Age' : ''}</div>
            </div>
            <div class="mb-3">
              <label for="user-experience" class="form-label">Year(s) of Experience: </label>
              <input type="number" class="form-control ${errors?.cv?.experience && 'is-invalid'}" id="user-experience" value="${errors?.cv?.experience ? '' : user?.experience || user?.experience == 0 ? user.experience : ''}">
              <div class="invalid-feedback">${errors?.cv?.experience ? 'Please Select a Valid Experience' : ''}</div>
            </div>
            <div class="mb-3">
              <label for="user-price" class="form-label">Price for Hire: </label>
              <input type="number" class="form-control ${errors?.cv?.price && 'is-invalid'}" id="user-price" value="${errors?.cv?.price ? '' : user?.price || ''}">
              <div class="invalid-feedback">${errors?.cv?.price ? 'Please Select a Valid Price' : ''}</div>
            </div>
            <div class="mb-3">
              <label for="user-description" class="form-label">Description: </label>
              <input type="text" class="form-control ${errors?.cv?.description && 'is-invalid'}" id="user-description" value="${errors?.cv?.description ? '' : user?.description || ''}">
              <div class="invalid-feedback">${errors?.cv?.description ? 'Please Fill in the Description' : ''}</div>
            </div>
            <div class="form-check form-switch py-3" style="font-size: 18px;">
              <input class="form-check-input" type="checkbox" role="switch" id="user-look-for-work" ${user?.lookingForWork ? 'checked' :''}>
              <label class="form-check-label" for="user-look-for-work">Looking for Work?</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-primary py-3 px-5" type="submit" id='save-button'>Save</button>
      </div>
    </form>
  `
}

const generateTitle = () => {
  const {messageSent} = window.pageData
  let link = ""
  return link += ` ${
      messageSent ? `
        <div class="card mt-3">
          <div class="card-body">
            Message Sent!
          </div>
        </div>
      `
      : ''
    }
  <div id="title" class="text-center mt-2">
    <h1>Your profile</h1>
    <p class="mt-3" style="font-size:1.1em">Here you have all your personal information, make sure to toggle the <span style="font-weight:bold">Looking For Work</span> After you have filled in all the information.</p>
  </div>
  `
}

const generatePage = () => {
  const $page = $('#my-profile-page')
  const $title = generateTitle()
  const $profile = generateUserProfilePage()

  $page.html('').append($title).append($profile)
}

const handleSaveData = (e) => {
  e.preventDefault()

  window.pageData.messageSent = false
  const data = {
    name: $('#user-name').val(),
    email: $('#user-email').val(),
    lookingForWork: $('#user-look-for-work').is(":checked"),
    cv: {
      age: $('#user-age').val(),
      experience: $('#user-experience').val(),
      price: $('#user-price').val(),
      description: $('#user-description').val(),
      categories: $("#category").val(),
      roles: $("#roles").val(),
    }
  }



  axios({
    method: 'PUT',
    url: '/api/my/profile',
    data
  }).then((res) => {
    window.pageData.messageSent = true
    window.pageData.errors = {}
    window.pageData.user = res.data
    generatePage()
  }).catch((err) => {
    window.pageData.errors = err.response.data
    generatePage()
  })
}

const getCategories = () => {
  axios({
    method: 'GET',
    url:'/api/categories'
  }).then((res) => {
    window.pageData.categories = res.data
    getLoggedInUser()
  })
}

const getLoggedInUser = () => {
  axios({
    method: 'GET',
    url:`/api/my/profile`
  }).then((res)=> {
    window.pageData.user = res.data
    window.pageData.category = window.pageData.user?.categories?.[0]?.categoryName
    window.pageData.role = window.pageData.user?.roles?.[0]?.roleName
    generatePage()
  })
}

// Functions that will be invoked on page load
$(document).ready(() => {
  getCategories()

  $('#my-profile-page').on('submit','#user-info', handleSaveData)
  $('#my-profile-page').on('change', '#category', handleCategoryChange)
  $('#my-profile-page').on('change', '#roles', handleRoleChange)


})
</script>

<%- contentFor('body') %>
<div id="my-profile-page" class="container"></div>
