<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
  const generateForm = ({ user, errors } = {}) => {
    return `
    <div class="row">
      <div id="form-wrapper" class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <form id="signup-form">
          <div class= "card card-body">
            <div class="mb-3">
              <label for="user-email" class="form-label">Email</label>
              <input
                id="user-email"
                class="form-control ${errors?.email && 'is-invalid'}"
                name="email"
                value="${user?.email || ''}"
                type="email"
              ></input>
              <div class="invalid-feedback">${errors?.email || ''}</div>
            </div>
            <div class="mb-3">
              <label for="user-password" class="form-label">Password</label>
              <input
                id="user-password"
                class="form-control ${errors?.password && 'is-invalid'}"
                name="password"
                value="${user?.password || ''}"
                type="password"
              ></input>
              <div class="invalid-feedback">${errors?.password || ''}</div>
            </div>
            <div class="mb-3">
              <label for="user-password-confirmation" class="form-label">Password Confirmation</label>
              <input
                id="user-password-confirmation"
                class="form-control ${errors?.passwordConfirmation && 'is-invalid'}"
                name="passwordConfirmation"
                value="${user?.passwordConfirmation || ''}"
                type="password"
              ></input>
              <div class="invalid-feedback">${errors?.passwordConfirmation || ''}</div>
            </div>
          </div>
          <div id="login-button" class="mt-4 d-flex justify-content-evenly">
            <button class="button btn btn-primary mb-3 px-4 py-3" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  `
}

const generateTitle = () => {
  return `
  <div id="header" class="px-3 d-flex align-items-center flex-column">
    <div id="title">
      <h1 class="text-center my-3">Signup!</h1>
    </div>
    <div id="brief-description">
      <p class="text-center"> You will have access to contact any freelancer on the platform, or be a freelancer yourself, fill out the necessary information on your profile page after registration.</p>
    </div>
  </div>
  `
}
const generatePage = (info) => {
  const $page = $('#pages-auth-signup')
  const $title = generateTitle()
  const $form = generateForm(info)
  $page.html('').append($title).append($form)
}
const handleSignup = (e) => {
  e.preventDefault()
  const data = new FormData(e.target)
  $('#signup-form button[type="submit"]').attr('disabled', true)
  axios({
    method: 'POST',
    url: '/api/auth/signup',
    data
  }).then(() => {
    window.location.href = `/users`
  }).catch((err) => {
    generatePage({
      user: parseFormData(data),
      errors: err.response.data
    })
  })
}
$(document).ready(() => {
  generatePage()
  $('#pages-auth-signup').on('submit', '#signup-form', handleSignup)
})
</script>
<%- contentFor('body') %>
  <div id="pages-auth-signup" class="container"></div>
